

.find-talent {

  .title-section {


      .job-card{
        float:left;
        width:100%;
        background:#fff;
        border: 2px solid  $color__grid-grey-light;
        background:#FFF;
        border-radius: 3px;
        margin-bottom:0;
        margin-top:30px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);

        &:hover {
          border-color:#ccc;
          transition:0.3s;
        }

        .title-row {

          background:#F5F5F5;
          border-bottom:1px solid $color__grid-grey-light;
          padding: 6px 120px 6px 15px;
          position:relative;

          .title {
            font-weight:bold;
            font-size:16px;
            margin-right:8px;
          }

          .company-name {
            font-size:14px;
            color:#888;
          }

          .btn-wrapper {
            position:absolute;
            right:6px;
            top:6px;
            .btn:first-child {
              margin-right:5px;
            }
          }

        }

        .columns {
          float:left;
          width:100%;

          .col-1-6 {
            border-bottom:1px solid $color__grid-grey-light;
            border-right:1px solid $color__grid-grey-light;
          }
          .col-1-6:last-child {
            border-right:none;
          }
          .line.title {
            border-bottom:1px solid $color__grid-grey-light;
            padding: 6px;
            text-align: center;
            font-weight: 400;
            font-size: 13px;
            color: #888;
          }
          .line.value {
           background-color:#fff;
           padding:6px;
           text-align:center;
           font-weight: 600;
          }
        }

        .footer-line {
          float:left;
          width:100%;
          padding: 6px 6px 6px 15px;
          .created-on {
            font-size:13px;
            color:#888;
          }

          .admin-info {
            font-weight:600;
            font-size:13px;
          }

          .status-wrapper {
            float:right;

            .title {
            font-size:13px;
            color:#888;
            font-weight:600;
            }

            .status {
              background: #FDFDFD;
              border: 2px solid #AFE3ED;
              padding:1px 13px;
              border-radius:3px;
              margin:0 0 0 10px;
              font-size:12px;
              text-transform:uppercase;
              font-weight:600;
              color:#82C3D6;           }
          }
        }

      }
  }

  .info-area {
    min-height:80px;
    margin-bottom:10px;
    background: #FDFDFD;
  }

  .inner-area-wrapper {
    display: block;
    margin-left:-15px;
    margin-right:-15px;
    .col {
      padding:15px;


      .form-group {
        margin-bottom:4px;

        .multiselect {
          width:100%;

          .multiselect-selected-text {
            float:left;
          }
          .caret {
            float:right;
            margin-top:8px;
          }


        }
        .note-editor .btn-group {
          display: inline-block;
          float: none;
          width:auto;
        }

      }
      .radio-inline.radio-label {
        padding-left:12px;
        font-weight:bold;
      }
          .value {
            color:#888;
          }
    }
  }

  .job-details {
    .col {

      .form-group {
        margin-bottom:15px;

        .col-sm-12 {
          padding:0;

        }
      }

    }
  }





  .specific-capabilities {
    .info-area {
      text-align: left;
      min-height:auto;
      margin-bottom:20px;
    }
    .test-node {
      display:inline-block;
      float: left;
      width: 100%;
      margin-bottom:10px;

      input.capability {
        display:inline-block;
        float:left;
        max-width:450px;
        margin-right:10px;
      }
      .dropdown-toggle {
        min-width:150px;
        margin-right:5px;
          .multiselect-selected-text {
            float:left;
          }
          .caret {
            float:right;
            margin-top:8px;
          }
      }
    }
    .add-more-button-wrapper {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 10px 0 25px 0;
      #add-more {
        margin-right:15px;
      }
      .node-counter {
        font-weight:bold;
        line-height:33px;
      }
    }

  }

  .create-job-wrapper {
    .status-dropdown button.multiselect.dropdown-toggle.btn.btn-default {
    margin: 0;
    margin-top: 25px;
    margin-right: 10px;
}
    text-align:right;

    .btn {
      margin:25px 0 25px 0;
    }
  }

}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
.find-talent{


 .job-card .columns .line.title {
    border-bottom: 1px solid #e3e3e3;
    padding: 6px 2px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: #888;
  }
}

}

// Main responsive breakpoint
@media screen and (max-width: 765px) {
.find-talent {
   .job-card .columns .col-1-6 {
      width:100%;
      border-right:none;
      .line {
        width: 49%;
        display: inline-block;
        border-bottom: none;
        &.title {
          border-right:1px solid #e3e3e3;
              border-bottom: none;
        }
        &.value {
            background-color: #fff;
            padding: 4px;
            text-align: center;
            font-weight: 600;
        }
      }
  }
}
}



@media screen and (max-width: 500px) {
 .find-talent {
  .job-card {

   .title-row {
      padding: 35px 6px 6px 15px;
      .title {
          display: inline-block;
          font-weight: bold;
          font-size: 16px;
          margin-right: 8px;
          width: 100%;
      }
      .company {
        display:inline-block;
        width:100%;
      }

      .btn-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        width: 100%;
        .btn {
            margin: 0!important;
            width: 50%;
            border: none;
            float: left;
            height: 30px;
            line-height: 30px;
            border-radius: 0;
        }
      }
    }

    .footer-line {
      .admin-info {
              float: right;
    width: 100%;
    text-align: right;
    dsiplay:block;
      }

    .created-on {
      float: right;
    width: 100%;
    text-align: right;

    }
    .status-wrapper {
    float: right;
    margin-top: 6px;
    width: 100%;
    text-align: right;
  }
}
}
}
}
