.admin-archive {

padding:15px 0;
font-size:14px;
.menu-wrapper {
  float: left;
  width:20%;
  padding:15px 0;

  .sub-item {
    background:#F5F5F5;
    &:hover {
      background:#ECECEC;
    }

    i {
      margin-right:10px;
    }
  }

}

.right-content {
  float:left;
  width:100%;
  padding:15px 0;

  .content {

    .toolbar {

      margin-bottom:10px;

      .sort {
        display: inline-block;

        .label-item {
          background:#fff;
          border-color:$color__grid-grey-light;
          outline:none;
        }
      }

      .search {
        display: inline-block;
        float: right;
        max-width:300px;

        input {
          height:33px;
        }
      }

    }


    .cards-wrapper {

      .job-card{
        float:left;
        width:100%;
        background:#fff;
        border: 2px solid  $color__grid-grey-light;
        background:#FFF;
        border-radius: 3px;
        margin-bottom:20px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);

        &:hover {
          border-color:#ccc;
          transition:0.3s;
        }

        .title-row {

          background:#F5F5F5;
          border-bottom:1px solid $color__grid-grey-light;
          padding: 6px 120px 6px 15px;
          position:relative;

          .title {
            font-weight:bold;
            font-size:16px;
            margin-right:8px;
          }

          .company-name {
            font-size:14px;
            color:#888;
          }

          .btn-wrapper {
            position:absolute;
            right:6px;
            top:6px;
            .btn:first-child {
              margin-right:5px;
            }
          }

        }

        .columns {
          float:left;
          width:100%;

          .col-1-6 {
            border-bottom:1px solid $color__grid-grey-light;
            border-right:1px solid $color__grid-grey-light;
          }
          .col-1-6:last-child {
            border-right:none;
          }
          .line.title {
            border-bottom:1px solid $color__grid-grey-light;
            padding: 6px;
            text-align: center;
            font-weight: 400;
            font-size: 13px;
            color: #888;
          }
          .line.value {
           background-color:#fff;
           padding:6px;
           text-align:center;
           font-weight: 600;
          }
        }

        .footer-line {
          float:left;
          width:100%;
          padding: 6px 6px 6px 15px;
          .created-on {
            font-size:13px;
            color:#888;
          }

          .admin-info {
            font-weight:600;
            font-size:13px;
          }

          .status-wrapper {
            float:right;

            .title {
            font-size:13px;
            color:#888;
            font-weight:600;
            }

            .status {
              background: #FDFDFD;
              border: 2px solid #AFE3ED;
              padding:1px 13px;
              border-radius:3px;
              margin:0 0 0 10px;
              font-size:12px;
              text-transform:uppercase;
              font-weight:600;
              color:#82C3D6;           }
          }
        }

      }


    }
  }

}

}


.load-more-btn-wrapper {


  text-align:right;
  .btn {

    // width:100%;
  }
}




@media screen and (max-width: 500px) {
#admin-jobs.job-management {

  .right-content {
    .content{
  .cards-wrapper {
  .job-card {

   .title-row {
      .btn-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        width: 100%;
        .btn {
            margin: 0!important;
            width: 100%;
        }
      }
    }

}

}

}
}
}
}
