

.find-talent {

  .info-area {
    min-height:80px;
    margin-bottom:10px;
    background: #FDFDFD;

  }

  .inner-area-wrapper {
    display: block;
    margin-left:-15px;
    margin-right:-15px;
    .col {
      padding:15px;


      .form-group {
        margin-bottom:4px;

        .multiselect {
          width:100%;

          .multiselect-selected-text {
            float:left;
          }
          .caret {
            float:right;
            margin-top:8px;
          }
        }
        .note-editor .btn-group {
          display: inline-block;
          float: none;
          width:auto;
        }
      }
      .radio-inline.radio-label {
        padding-left:12px;
        font-weight:bold;
      }
    }
  }

  .job-details {
    .col {

      .form-group {
        margin-bottom:15px;

        .col-sm-12 {
          padding:0;

        }
      }

    }
  }





  .specific-capabilities {
    .info-area {
      text-align: left;
      min-height:auto;
      margin-bottom:20px;
      font-size:14px;
    }
    .test-node {

      float: left;
      width: 100%;
      margin-bottom:10px;

      input.capability {

        float:left;
        max-width:450px;
        margin-right:10px;
      }
      .dropdown-toggle {
        min-width:150px;
        margin-right:5px;
          .multiselect-selected-text {
            float:left;
          }
          .caret {
            float:right;
            margin-top:8px;
          }
      }
    }
    .add-more-button-wrapper {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 10px 0 25px 0;
      #add-more {
        margin-right:15px;
      }
      .node-counter {
        font-weight:bold;
        line-height:33px;
      }
    }

  }

  .create-job-wrapper {
    text-align:right;

    .btn {
      margin:25px 0 25px 0;
      float:right;
    }

    .item-preloader {
      margin:25px 15px;
    }

    span.item-error-msg,
    span.item-success-msg {

      padding: 25px 15px;
      line-height:33px;

    }
  }

}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

// Main responsive breakpoint
@media screen and (max-width: 765px) {

.find-talent {
  .col.col-33,
  .col.col-66 {
    width: 100%;
}

.specific-capabilities .test-node input.capability {
    float: left;
    max-width: 300px!important;
    margin-right: 10px;
}

}

}



@media screen and (max-width: 620px) {

.find-talent {

.specific-capabilities .test-node input.capability {
    float: left;
    max-width: 100%!important;
    margin-right:0;
    margin-bottom:10px;
    width:100%!important;
}
.specific-capabilities .test-node input.capability {
    float: left;
    max-width: 100%!important;
    margin-right:0;
    margin-bottom:10px;
    width:100%!important;
}
}

}
