.cta-section {
  display:inline-block;
  float:left;
  width:100%;
  text-align:center;
  text-shadow: 0 0 1px rgba(0,0,0,0.6);


  .btn.btn-success {
    width:240px;
    font-size:16px;
    margin-bottom:8px;
  }
  .cta-link {
    color:#fff;
    font-size:16px;
  }
}

.cta-content h1,
.cta-content p {

    text-shadow: 0 0 1px rgba(0,0,0,0.6);

}
