.inbox {

  min-height:80vh;

padding:15px 0;
font-size:14px;
.menu-wrapper {
  float: left;
  width:20%;
  padding:15px 0;

  .sub-item {
    background:#F5F5F5;
    &:hover {
      background:#ECECEC;
    }

    i {
      margin-right:10px;
    }
  }


}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #3498db!important;
    border-color: #3498db;
}

.right-content {
  float:left;
  width:78%;
  margin-left:2%;
  padding:15px 0;

  .content {

    .toolbar {

      margin-bottom:10px;

      .sort {
        display: inline-block;

        .label-item {
          background:#fff;
          border-color:$color__grid-grey-light;
          outline:none;
        }
      }

      .search {
        display: inline-block;
        float: right;
        max-width:300px;

        input {
          height:33px;
        }
      }

    }


    .cards-wrapper {

      position:relative;

      & > .loader {
        display:none;
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 90px 30px;
        z-index: 999;
        background: #F3F3F3;
        border-radius: 3px;
        & > img {
          width:40px;
          height:relative;
        }
      }

      .no-messages {
          display: inline-block;
          width: 100%;
          text-align: center;
          padding: 35px;
          font-weight: 500;
          border: 2px solid #DDD;
          margin-bottom: 10px;
          border-radius: 3px;
          background: #fff;
      }

      span.direction {
          font-size: 13px;
          margin-right: 4px;
          color: #808080;
      }


      span.subject {
    font-size: 14px;
    margin-right: 4px;
    color: #808080;
}

      .list-group-item {

        h4 {
          font-size:15px;
          margin-bottom:13px;
          .label {
            margin-left:10px;
          }
        }

        .date {
          font-weight:600;
          text-transform:uppercase;
          color:#888;
          font-size:13px;
          position:absolute;
          right:15px;
          top:9px;
        }
      }

      p {
        font-size:13px;
      }


    }
  }

}

}


.load-more-btn-wrapper {


  text-align:right;
  .btn {

    // width:100%;
  }
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
.inbox {

.menu-wrapper {
  width:28%;
}

.right-content {
  width:68%;
}
}

}


@media screen and (max-width: 880px) {
.inbox {

  .right-content .content .toolbar .search {
    display: inline-block;
    float: right;
    max-width: 200px;
    .search-button-label {
    display:none;
  }
  }



}

}


// Main responsive breakpoint
@media screen and (max-width: 765px) {
.inbox {
    .menu-wrapper {
    width:100%;
    padding-top: 0;
        padding-bottom: 0;
  }

  .right-content {
    width:100%;
    margin-left:0;
        padding-top: 0;
  }
}
}


@media screen and (max-width: 500px) {
.inbox {

    .menu-wrapper {
    width:100%;
  }

  .right-content {
    width:100%;
    margin-left:0;

    .content{



    .toolbar {
      display: inline-block;

      .sort {
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    }

    .search {
    display: inline-block;
    float: right;
    max-width: 247px;
    }
  }

  .cards-wrapper {

    .list-group {

      .list-group-item {
        padding-top:28px;
        .date {
            font-weight: 600;
            text-transform: uppercase;
            color: #ccc;
            font-size: 13px;
            position: absolute;
            left: 15px;
            top: 6px;
        }
      }
    }
  }


  }
  }
}

.chat-panel {
 .conversation {
    margin: -2px -2px 0 -2px;
}
  .timeline-wrapper .item {
    padding-left: 30px;
  .timeline {
    width: 30px;

  }
}
}
}
