.job-management {
  min-height:80vh;
  .create-new-job-button-wrapper {
    padding-bottom: 10px;
    .btn {
      width:100%;
      text-align:center;
    }
}

padding:15px 0;
font-size:14px;
  .no-jobs-found {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 100px 30px;
      font-weight: 500;
  }
.menu-wrapper {
  float: left;
  width:20%;
  padding:15px 0;

  .sub-item {
    background:#F5F5F5;
    &:hover {
      background:#ECECEC;
    }

    i {
      margin-right:10px;
    }
  }

}

.right-content {
  float:left;
  width:78%;
  margin-left:2%;
  padding:15px 0;

  .content {

    .toolbar {

      margin-bottom:10px;

      .sort {
        display: inline-block;

        .label-item {
          background:#fff;
          border-color:$color__grid-grey-light;
          outline:none;
        }
      }

      .search {
        display: inline-block;
        float: right;
        max-width:300px;

        input {
          height:33px;
        }
      }

    }


    .cards-wrapper {
      position:relative;
      overflow:hidden;

      .loader {
          display:none;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #FAFAFA;
          z-index: 999;
          text-align: center;
          padding-top: 30%;
      }

      .job-card{
        float:left;
        width:100%;
        background:#fff;
        border: 2px solid  $color__grid-grey-light;
        background:#FFF;
        border-radius: 3px;
        margin-bottom:20px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);

        &:hover {
          border-color:#ccc;
          transition:0.3s;
        }

        .title-row {

          background:#F5F5F5;
          border-bottom:1px solid $color__grid-grey-light;
          padding: 6px 120px 6px 15px;
          position:relative;

          .title {
            font-weight:bold;
            font-size:16px;
            margin-right:8px;
          }

          .company-name {
            font-size:14px;
            color:#888;
          }

          .btn-wrapper {
            position:absolute;
            right:6px;
            top:6px;
            .btn:first-child {
              margin-right:5px;
            }
          }

        }

        .columns {
          float:left;
          width:100%;

          .col-1-6 {
            border-bottom:1px solid $color__grid-grey-light;
            border-right:1px solid $color__grid-grey-light;
          }
          .col-1-6:last-child {
            border-right:none;
          }
          .line.title {
            border-bottom:1px solid $color__grid-grey-light;
            padding: 6px;
            text-align: center;
            font-weight: 400;
            font-size: 13px;
            color: #888;
          }
          .line.value {
           background-color:#fff;
           padding:6px;
           text-align:center;
           font-weight: 600;
          }
        }

        .footer-line {
          float:left;
          width:100%;
          padding: 6px 6px 6px 15px;
          .created-on {
            font-size:13px;
            color:#888;
          }

          .status-wrapper {
            float:right;

            .title {
            font-size:13px;
            color:#888;
            font-weight:600;
            }

            .status {
              background: #FDFDFD;
              border: 2px solid #AFE3ED;
              padding:1px 13px;
              border-radius:3px;
              margin:0 0 0 10px;
              font-size:12px;
              text-transform:uppercase;
              font-weight:600;
              color:#82C3D6;           }
          }
        }

      }


    }
  }

}

}


.load-more-btn-wrapper {


  text-align:right;
  .btn {

    // width:100%;
  }
}




/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
.job-management{

.menu-wrapper {
  width:19%;
}

.right-content {
  width:79%;
  .content .cards-wrapper .job-card .columns .line.title {
    border-bottom: 1px solid #e3e3e3;
    padding: 6px 2px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: #888;
  }
}

}



}


@media screen and (max-width: 880px) {
.job-management {
    .menu-wrapper {
    width:100%;
    padding-top: 0;
        padding-bottom: 0;
  }

  .right-content {
    width:100%;
    margin-left:0;
        padding-top: 0;

   .content .toolbar .search {
    display: inline-block;
    float: right;
    max-width: 200px;
    .search-button-label {
    display:none;
  }
  }
}



}

}


// Main responsive breakpoint
@media screen and (max-width: 765px) {
.job-management {
  .right-content .content .cards-wrapper .job-card .columns .col-1-6 {
      width:100%;
      border-right:none;
      .line {
        width: 49%;
        display: inline-block;
        border-bottom: none;
        &.title {
          border-right:1px solid #e3e3e3;
        }
        &.value {
            background-color: #fff;
            padding: 4px;
            text-align: center;
            font-weight: 600;
        }
      }
  }
}
}


@media screen and (max-width: 500px) {
.job-management {

  .menu-wrapper {
    width:100%;
  }

  .right-content {
    width:100%;
    margin-left:0;

    .content{

    .toolbar {
      display: inline-block;

    .sort {
      width: 100%;
      margin-bottom: 10px;
      text-align: right;
    }

    .search {
    display: inline-block;
    float: right;
    max-width: 100%;
    }

  }

  .cards-wrapper {
    .list-group {
      .list-group-item {
        padding-top:28px;
        .date {
          font-weight: 600;
          text-transform: uppercase;
          color: #ccc;
          font-size: 13px;
          position: absolute;
          left: 15px;
          top: 6px;
        }
      }
    }


  .job-card {

   .title-row {
      padding: 35px 6px 6px 15px;
      .title {
          display: inline-block;
          font-weight: bold;
          font-size: 16px;
          margin-right: 8px;
          width: 100%;
      }
      .company {
        display:inline-block;
        width:100%;
      }

      .btn-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        width: 100%;
        .btn {
            margin: 0!important;
            width: 50%;
            border: none;
            float: left;
            height: 30px;
            line-height: 30px;
            border-radius: 0;
        }
      }
    }

    .footer-line {

    .created-on {
      float: right;

    } .status-wrapper {
    float: right;
    margin-top: 6px;
  }
}
}


  }


  }
  }
}

.chat-panel {
 .conversation {
    margin: -2px -2px 0 -2px;
}
  .timeline-wrapper .item {
    padding-left: 30px;
  .timeline {
    width: 30px;

  }
}
}
}
