.login-page {
  display: inline-block;
  float: left;
  width: 100%;
  min-height:80vh;
  background-color: #1ABC9C;

}

.login-wrapper {
  display:block;
  width:100%;
  position:relative;
  max-width:440px;
  margin:60px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius:4px;
  padding:20px;
  padding-bottom:30px;
  text-align:center;
  h2 {
    display:block;
    margin-top:15px;
    font-weight:bold;
  }
  .description {

  }
  .buttons {

    padding:10px 25px 20px 25px;

    .linkedin-login.btn,
    .facebook-login.btn {
        width: 100%;
        padding: 11px;
        margin-top: 17px;
        color: #fff;
        background-color: #0077b5;
        border: none;
        opacity:0.85;
    }

      .nsauth-btn.btn {
        width: 100%;
        padding: 11px;
        margin-top: 17px;
        border: none;
        opacity:0.85;
    }

    .linkedin-login.btn:hover,
    .facebook-login.btn:hover {
        opacity:1;
    }

    .linkedin-login.btn{
        background-color: #0077b5;
    }
    .facebook-login.btn {
      background-color:#2E4DA7;
    }

    .linkedin-login.btn > i,
    .facebook-login.btn > i {
        font-size: 17px;
        margin-right: 12px;
    }


  }

  .terms {
    font-size:14px;
  }
}


@media screen and (max-width: 400px) {

  .login-wrapper .terms br {
    display:none;
  }
}
