.manage-job {
padding:15px 0;
font-size:14px;
min-height:80vh;

  .candidate-placeholder {
      display: inline-block;
      width: 100%;
      padding: 50px 15px;
      text-align: center;
      font-weight: 500;
      color: #ccc;
          & > img {

        opacity: 0.2;
        margin-bottom: 30px;
        max-width: 120px;
    }
  }
    .form-group.tags-form .control-label {
      margin-top: 6px;
      margin-bottom: 12px;
  }

  .tags-modal-body {
    padding:15px 0;
  }

  .job-card{
    float:left;
    width:100%;
    background:#fff;
    border: 2px solid  $color__grid-grey-light;
    background:#FFF;
    border-radius: 3px;
    margin:15px 0 15px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);

    .title-row {

      background:#F5F5F5;
      border-bottom:1px solid $color__grid-grey-light;
      padding: 6px 120px 6px 15px;
      position:relative;

      .loader.status-update {
          display: inline;
          display:none;
          margin-right: 5px;
          & > img {
            width:21px;
            height:auto;
          }
      }

      .title {
        font-weight:bold;
        font-size:16px;
        margin-right:8px;
      }

      .company-name {
        font-size:14px;
        color:#888;
      }

      .btn-wrapper {
        position:absolute;
        right:6px;
        top:6px;
        .btn:first-child {
          margin-right:5px;
        }
      }

    }

    .columns {
      float:left;
      width:100%;

      .col-1-6 {
        border-bottom:1px solid $color__grid-grey-light;
        border-right:1px solid $color__grid-grey-light;
      }
      .col-1-6:last-child {
        border-right:none;
      }
      .line.title {
        border-bottom:1px solid $color__grid-grey-light;
        padding: 6px;
        text-align: center;
        font-weight: 400;
        font-size: 13px;
        color: #888;
      }
      .line.value {
       background-color:#fff;
       padding:6px;
       text-align:center;
       font-weight: 600;
      }
    }

    .footer-line {
      display:inline-block;
      float:left;
      width:100%;
      padding:6px 15px;
      .created-on {
        font-size:13px;
        color:#888;
      }

      .status-wrapper {
        float:right;

        .title {
        font-size:13px;
        color:#888;
        font-weight:600;
        }

        .status {
          background: #FDFDFD;
          border: 2px solid #AFE3ED;
          padding:1px 13px;
          border-radius:3px;
          margin:0 0 0 10px;
          font-size:12px;
          text-transform:uppercase;
          font-weight:600;
          color:#82C3D6;
        }
      }
    }

  }

  .columns-wrapper {

    margin-left:-10px;
    margin-right:-10px;

    .candidates-list-wrapper {
      padding:10px;

      .list-group {
          margin-bottom: 20px;
          padding-left: 0;
          max-height: 500px;
          overflow-y: hidden;
          border-top: 2px solid #DDD;
          margin-top: 2px;
          border-bottom: 2px solid #ddd;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
           .candidate-placeholder {

              padding: 20px 15px;
              border-left: 2px solid #ddd;
              border-right: 2px solid #ddd;


          }
      }

        .nav.nav-tabs li {
            width: 50%;
            text-align: center;

            a {
              padding-top:4px;
              padding-bottom:4px;
              text-decoration: none;
              background-color: #eeeeee;
              color: #888;
              border: 2px solid #eee;
              border-bottom: none;
              margin-bottom: -2px;

            }
            &.active > a {
              background:#fff;
              color:#555;
              border-color:#ddd;
            }
        }
        .nav.nav-tabs li:last-child a {
            margin-right:0;
        }

        .candidate-lists .tab-pane .list-group .list-group-item {

          cursor:pointer;

          h4 {
            font-size:14px;
          }
          p {
            font-size:13px;
            color:#666;
          }

          &:first-child {
            border-radius:0;
            border-top:none;

          }
          &:last-child {
            border-bottom:none;
          }
          &.active,
          &:hover {
            background-color:#F9EED9;
            color:#444;
            border-color:#DDD;
            z-index:auto;
          }
        }

        .load-more-button-wrapper {
          text-align:center;


          .loader.loader-horisontal {
            display:none;
            padding: 0px 5px 5px 5px;

            & > img {
              width: 50px;
              height: auto;
          }
        }

          .btn {
            width:100%;
          }
        }
    }

    .candidate-details-wrapper {
      padding:15px;
      position:relative;

      .loader {
          display:none;
          position: absolute;
          background: #FAFAFA;
          text-align: center;
          padding: 150px 30px;
          width: 100%;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 999;
           & > img {
              width: 50px;
              height: auto;
          }
      }
      .toolbar {
        text-align:right;
        margin-bottom:15px;
        .candidate_pipeline_step {
            float: left;
            background: #FDFDFD;
            border: 2px solid #AFE3ED;
            padding: 8px 13px;
            border-radius: 3px;
            margin: 0px 0;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            color: #82C3D6;
            &.rejected-red {
                border-color: #E07F75;
                color: #E07F75;
            }
        }
        .dropdown-menu {
          left: -86px;
        }
      }

      .white-panel {
        float:left;
        width: 100%;
        margin-bottom:15px;
        background:#fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border: 1px solid #F5F5F5;
        border-radius:2px;
        padding:15px;

        &.chat-panel {
          padding:0;

          #msg-text {
            height:55px;
          }
        }
        .full-screen {
          display: inline-block;
          width:auto;
          margin-bottom:5px;
          cursor:pointer;

          i {
            margin-right:10px;
          }

          span {
            font-weight:600;
            font-size:12px;
          }
        }
      }

      .basic-profile-panel {

        h4 {
          margin-top:5px;
          font-size:24px;
        }
        p {
          color:#ccc;
          margin-bottom:10px;
        }

        .mail,
        .phone {
          display:inline-block;
          border:2px solid $color__grid-grey-light;
          padding:3px 15px;
          border-radius:15px;
          color: #888;
          font-size:13px;
          margin-bottom:15px;

          i {
            font-size:12px;
            margin-right:8px;
          }
        }
        .tags {

          margin-bottom:10px;

          .tag {
              background: #FDFDFD;
              border: 2px solid #AFE3ED;
              padding: 1px 13px;
              border-radius: 3px;
              margin: 0 10px 5px 0;
              font-size: 12px;
              text-transform: uppercase;
              font-weight: 600;
              color: #82C3D6;
          }
        }

      }



      .full-profile-panel {


          .name {
            text-align:center;
            margin-bottom: 20px;
          }

          .contacts-wrapper {
            width:100%;
            text-align:center;
            .mail,
            .phone {
              display:inline-block;
              border:2px solid $color__grid-grey-light;
              padding:3px 15px;
              border-radius:15px;
              color: #888;
              font-size:13px;
              margin-bottom:15px;

              i {
                font-size:12px;
                margin-right:8px;
              }
            }
          }

          .subtitle {
            position:relative;
            width:100%;
            border-bottom:1px solid $color__grid-grey-light;
            padding:10px;
            padding-right:55px;

            h2 {
              font-size:16px;
              display:inline;
              text-transform:uppercase;
              margin:0;
            }
            .edit-btn {
              position:absolute;
              top:6px;
              right:0px;

              i {
                margin-right:7px;
                font-size:12px
              }

            }
          }

          .sub-subtitle {
            position:relative;
            width:100%;
            padding: 10px 55px;


            h2 {
              font-size:15px;
              display:inline;
              text-transform:uppercase;
              margin:0;
            }
            .edit-btn {
              position:absolute;
              top:6px;
              right:0px;

              i {
                margin-right:7px;
                font-size:12px
              }

            }
          }


          .summary {
            margin:20px 0;
          }

          .timeline-wrapper {

            padding: 15px;
            padding-left: 0;

            .item {
              display: inline-block;
              width:100%;
              padding-left:60px;
              position:relative;
              margin:0;


              .timeline {
                width:45px;
                position:absolute;
                left:0;
                top:0;
                height:100%;
                text-align:center;

                .circle {
                  position: absolute;
                  top: 50%;
                  margin-top: -9px;
                  left: 50%;
                  margin-left: -9px;
                  width: 16px;
                  height: 16px;
                  background: #fff;
                  border-radius: 50%;
                  border: 2px solid #5BC0DE;
                  z-index: 99;
                }

                .line {
                  position:absolute;
                  width:2px;
                  background:#E1F8FF;
                  left:50%;
                  margin-left:-2px;
                  top:0;
                  bottom:0;

                }

                &.remove-line .line {
                  display:none;
                }
                &.line-down .line {
                  top:50%;
                  bottom:0;
                }

              }

              .item-content {
                .panel {
                  margin: 10px 0 ;
                }
              }
            }

            & > .item:first-child .timeline .line {
              top:50%;
            }

            & > .item:last-child .timeline .line {
              bottom:50%;
            }

          }


      }


    }

  }


}


.skills.col-md-12 {
    padding: 15px;
    padding-top: 20px;

    .list-group {
    margin-left: 0;
    .list-group-item {
    margin-bottom: -2px;
    border: 1px solid #ddd;
}
  }
}

.modal .white-panel.basic-profile-panel {
    text-align: center;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media screen and (max-width: 880px) {
.manage-job{

.columns-wrapper {

  .col-25 {
    width:30%;
  }
  .col-75 {
    width:70%;
  }
}

}

}


// Main responsive breakpoint
@media screen and (max-width: 765px) {
.manage-job {

.columns-wrapper {

  .col-25 {
    width:100%;
  }

  .col-75 {
    width:100%;
  }

  .candidates-list-wrapper {
    .list-group {
    max-height: 220px;
    }
    .nav.nav-tabs li a {
        padding: 15px 5px!important;
    }
}
}


  .job-card {
        margin-top:0;
    .columns .col-1-6 {
      width:100%;
      border-right:none;
      .line {
        width: 49%;
        display: inline-block;
        border-bottom: none;
        &.title {
          border-right:1px solid #e3e3e3;
        }
        &.value {
            background-color: #fff;
            padding: 4px;
            text-align: center;
            font-weight: 600;
        }
      }
  }
}
}
}


@media screen and (max-width: 500px) {
.manage-job {

  .columns-wrapper .candidate-details-wrapper .full-profile-panel .timeline-wrapper {
    padding-right: 0;
  .item {
      padding-left: 13px;
      .timeline {
      width: 0;
    }
  }
}

.columns-wrapper .candidate-details-wrapper .toolbar .candidate_pipeline_step {
    width: 100%;
    text-align: Center;
    margin-bottom: 10px;
}

.modal-content .updated {
    padding: 160px 15px;
}
  .job-card {



   .title-row {
      padding: 35px 6px 6px 15px;

     .loader.status-update {
          display: inline;
          display: none;
          margin-right: 5px;
          position: absolute;
          right: 12px;
          top: 47px;
      }
      .title {
          display: inline-block;
          font-weight: bold;
          font-size: 16px;
          margin-right: 8px;
          width: 100%;
      }
      .company {
        display:inline-block;
        width:100%;
      }

      .btn-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        width: 100%;
        .btn {
            margin: 0!important;
            width: 50%;
            border: none;
            float: left;
            height: 30px;
            line-height: 30px;
            border-radius: 0;
        }
      }
    }

    .footer-line {

    .created-on {
      float: right;
      width:100%;
      text-align: right;

    } .status-wrapper {
    float: right;
    margin-top: 6px;
    width:100%;
    text-align: right;
  }
}
}
}

}

@media screen and (max-width: 360px) {
.manage-job {

.columns-wrapper {

  .candidates-list-wrapper {
    .list-group {
    max-height: 220px;
    }
    .nav.nav-tabs li a {
        padding: 7px 30px!important;
    }
}
}
}
}
