.payment {

  .content-wrapper {
    padding-top:20px;
    padding-bottom:20px;

  }

  .payment-main {
//min-height:80vh;
    .image-container {
      display:block;
      padding:20px;
      text-align:right;
      padding-right:100px;

      img {
        max-width:100%;
        width:200px;
        opacity:0.4;
        margin-bottom:30px;

        &.ssl {
          opacity:0.6;
          width:115px;
        }
        &.braintree {
        width:200px;
        }

        &.credit-cards {
          max-width:100%;
          width:300px;
        }
      }

    }

    .title {
      display:inline-block;
      width:140px;
      text-align:right;
      padding-right:10px;
    }

  .smart { color:$color__plan-smart; }
  .genius { color:$color__plan-genius; }
  .genius-plus { color:$color__plan-genius-plus; }

  }


  .plan-description,
  .credit-card {
    padding: 0 25px;
.info-area {
    font-size: 13px;
    margin-bottom: 10px;
}
    .image-container {
      display:block;
      padding:20px;
      text-align:right;
      text-align:center;

      img {
        max-width:100%;
        width:200px;
        opacity:0.4;
        margin-bottom:30px;

        &.credit-cards {
          max-width:100%;
          width:300px;
        }
      }
  }
}

.button-wrapper.clearfix {
    text-align: right;
}

  .complete-payment {
    float:right;
  }


}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

// Main responsive breakpoint
@media screen and (max-width: 765px) {
  .payment-main {
    .col-50 {
      width:100%;
      .image-container {
            display: block;
            padding: 20px;
            text-align: left;
            padding-right: 20px;
        }
    }
  }

  .payment-details {
    .col-50 {
      width:100%;
      .form-group {

        .col-sm-6:first-child {
            margin-bottom: 15px;
        }

      }
    }
  }
}
