.full-pricing-table-wrapper {
  font-size:19px;
  float: left;
  width: 100%;
  & .main-title,
  & .pricing-tabs,
  & .full-table {
    display: inline-block;
    float: left;
    width: 100%;
  }
  .main-title {
    font-size:30px;
    padding-top:32px;
    padding-bottom:20px;
  }

  .pricing-tabs {

    &>.description {
    padding:20px;
    padding-left:0;
    color: #7d7d7d;
    }

  }

  .pricing-table-small {
    padding-top:0;
    .plan {
      padding-top:0;
      .price {
        border-top:1px solid $color__grid-grey-light;
      }
    }
  }

  .full-table {
    text-align:center;
    border:2px solid $color__grid-grey-light;
    margin-bottom: 30px;
    border-radius: 3px;

    .line {
      display: inline-block;
      float: left;
      width: 100%;
      border-top:1px solid $color__grid-grey-light;
      background-color:#fff;
      font-size:15px;
      padding:7px;

      i {
        font-size:21px;
      }



    }
    & > .line:first-child {
      font-weight:600;
      border:none;
      font-size:18px;
      text-align: center;
      & .titlerow {
        text-align:center;
      }
    }

    .greyline {
      background-color:$color__frid-grey-table;
    }

    .smart {
      color:$color__plan-smart;
    }
    .genius {
      color:$color__plan-genius;
    }

    .genius-plus {
      color:$color__plan-genius-plus;
    }

    .fa-times {
      color:#C3C3C3;;
      margin-top:2px;
    }
    .titlerow {
      text-align:left;
      padding-left:30px;
      font-weight:600;
      color:#666;
    }
  }

}




/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

// Main responsive breakpoint
@media screen and (max-width: 765px) {


  .full-pricing-table-wrapper {
    .col-25.description {
        width: 100%;
        margin-bottom: 47px;
    }

    .col-75 {
        float: left;
        width: 100%;
        box-sizing: border-box;
            margin-bottom: 32px;
    }

    .full-table {
      .titlerow {
      text-align: left;
      padding-left: 6px;
      font-weight: 500;
      color: #666;
      font-size: 14px;
      line-height: 15px;
      }

      & >  .line:first-child .titlerow {
          text-align: left;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
      }

      & >  .line:first-child .smart,
      & >  .line:first-child .genius,
      & >  .line:first-child .genius-plus,
       {
          text-align: center;
          font-size: 13px;
          font-weight: 600;
          line-height: 22px;
      }

      & > .line .col-25 {
        width:33.3333%;
      }

      & > .line .col-25:first-child {
            width: 100%;
            text-align: Center;
            border-bottom: 1px solid #F9F9F9;
            padding-bottom: 10px;
            margin-bottom: 10px;
      }
    }

  }




}
