.settings {


  &.content-wrapper {
    min-height:80vh;
  }

.form-group {
  .membership-label {
    display: inline-block;
    min-width: 135px;
    padding-right: 10px;
    text-align: right;
  }
}

            .timeline-wrapper {

            padding: 15px;
            padding-left: 0;

            .item {
              display: inline-block;
              width:100%;
              padding-left:60px;
              position:relative;
              margin:0;


              .timeline {
                width:45px;
                position:absolute;
                left:0;
                top:0;
                height:100%;
                text-align:center;

                .circle {
                  position: absolute;
                  top: 50%;
                  margin-top: -9px;
                  left: 50%;
                  margin-left: -9px;
                  width: 16px;
                  height: 16px;
                  background: #fff;
                  border-radius: 50%;
                  border: 2px solid #5BC0DE;
                  z-index: 99;
                }

                .line {
                  position:absolute;
                  width:2px;
                  background:#E1F8FF;
                  left:50%;
                  margin-left:-2px;
                  top:0;
                  bottom:0;

                }

                &.remove-line .line {
                  display:none;
                }
                &.line-down .line {
                  top:50%;
                  bottom:0;
                }

              }

              .item-content {
                .panel {
                  margin: 10px 0 ;
                }
              }
            }

            & > .item:first-child .timeline .line {
              top:50%;
            }

            & > .item:last-child .timeline .line {
              bottom:50%;
            }

          }

  .btn-wrapper {
    text-align: right;
    padding: 15px 0 0 0;
}

  .error-message {
    display:none;
    line-height: 19px;
  }

  .item-preloader {
    float:none;
  }

  .col-50.add-users-description {
    padding: 10px 20px 0px 0px;
  }

  padding:15px 0;
  font-size:14px;
  .menu-wrapper {
    float: left;
    width:20%;
    padding:15px 0;
  }

  span.node-counter {
    font-weight: 500;
    margin-left: 15px;
}

  .right-content {
    float:left;
    width:78%;
    margin-left:2%;
    padding:15px 0;

    .content {

      .cards-wrapper {

        .list-group.shared-account {

          .list-group-item {
            padding-top:18px;
            padding-right: 160px;
            min-height:56px;
            position:relative;
            .list-group-item-heading {
              font-size: 14px;
              .item-preloader {
                display:none;
                float:right;
                margin:0;
                img {
                  width: 20px;
                   margin-right: 10px;
                }
              }
            }
            .leave-account {
              position:absolute;
              top:10px;
              right:10px;
            }
          }
        }

        &.update-membership {

          h3 {
            margin-top:0;
          }

          h5 {

            .plan.smart {
              color:$color__plan-smart;
            }
            .plan.genius{
              color:$color__plan-genius;
            }
            .plan.geniusplus {
              color:$color__plan-genius-plus;
            }
          }

          .switch-to {
            font-size:14px;
            font-weight:500;
          }
        }

        .pipeline {

          li {

            padding:5px 5px 5px 15px;

          &:first-child {
            padding:15px 12px;
          }

            .title,
            .value {
              float: left;
              width:50%;
              line-height: 35px;

            }
          }

        }
      }
    }

  }

    .add-users {
      padding-top:20px!important;
      padding-bottom:20px!important;

      .user-node {

        display:inline-block;
        margin-bottom:10px;
        width:100%;

        .user-email {
          float:left;
          width:300px;
          margin-right:15px;
        }
      }
    }

    .price-plan {
    padding: 25px 15px 20px 15px!important;
    }

}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
.settings {

.menu-wrapper {
  width:28%;
}

.right-content {
  width:68%;
}


}

}



@media screen and (max-width: 880px) {
.settings {

.my-account-settings {


  .form-group {
    width: 50%;
    float: left;
  }

  .form-group:first-child {
    width: 100%;
    float: left;
  }


}

.add-users {
  .col-50 {
    width: 100%;
  }
}
}

}



@media screen and (max-width: 765px) {

.settings {

.menu-wrapper {
  width:100%;
}

.right-content {
  width:100%;
  margin-left:0;
}


}


}


@media screen and (max-width: 480px) {
  .settings {

    .my-account-settings {


      .form-group {
        width: 100%;
        float: left;
      }

      .form-group:first-child {
        width: 100%;
        float: left;
      }


    }

    .add-users {
        .user-node .user-email {
          float: left;
          width: 160px;
          margin-right: 15px;
      }
    }

    .timeline-wrapper .item .timeline {
    width: 20px;
    }
    .timeline-wrapper .item {
        padding-left: 35px;
    }

    .switch-to {
    width: 100%;
    text-align: center;
    .membership-label {
      width:100%;
      text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    }
  }

}

