.talent-pool {

  min-height:80vh;

  .manage-job {
      padding: 0;
      font-size: 14px;
  }

  .modal-body {
    padding-top: 0;
}

  .manage-job .columns-wrapper .candidate-details-wrapper .white-panel {
    float: left;
    width: 100%;
    margin-bottom: 0;
    background: #fff;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
}

  .form-group.tags-form .control-label {
      margin-top: 6px;
      margin-bottom: 12px;
  }
  .tags-modal-body {
    position: relative;
    padding: 15px 0;
  }
  .remove-from-pool {
    float: left;
}
  .candidate-placeholder {
      display: inline-block;
      width: 100%;
      padding: 50px 15px;
      text-align: center;
      font-weight: 500;
      color: #ccc;
          & > img {

        opacity: 0.2;
        margin-bottom: 30px;
        max-width: 120px;
    }
  }
padding:15px 0;
font-size:14px;
.menu-wrapper {
  float: left;
  width:20%;
  padding:15px 0;

  .sub-item {
    background:#F5F5F5;
    &:hover {
      background:#ECECEC;
    }

    i {
      margin-right:10px;
    }
  }

  .badge-red {
    background:#E74C3C;
    color:#fff;
  }
  .badge-blue {
    background:#5BC0DE;
    color:#fff;
  }
}

.right-content {
  float:left;
  width:78%;
  margin-left:2%;
  padding:15px 0;

  .content {

    .toolbar {

      margin-bottom:10px;

      .sort {
        display: inline-block;

        .label-item {
          background:#fff;
          border-color:$color__grid-grey-light;
          outline:none;
        }
      }

      .search {
        display: inline-block;
        float: right;
        max-width:300px;

        input {
          height:33px;
        }
      }

    }


    .cards-wrapper {
      position:relative;

            .loader {
          display:none;
          position: absolute;
          background: #FAFAFA;
          text-align: center;
          padding: 150px 30px;
          width: 100%;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 999;
           & > img {
              width: 50px;
              height: auto;
          }
      }

      .list-group-item {

        h4 {
          font-size:15px;
          margin-bottom:4px;
          .label {
            margin-left:10px;
          }
        }

        h5 {
          color:#888;
          margin-top:5px;
          font-size:13px;
          font-style:italic;
        }

        .buttons {
          position:absolute;
          right:6px;
          top:6px;

        }

        .tags-label {
          font-weight:600;
          color:#333;
          text-transform:uppercase;
          font-size:12px;
          margin-right:10px;
        }

        .tag {
            background: #FDFDFD;
            border: 2px solid #AFE3ED;
            padding: 1px 13px;
            border-radius: 3px;
            margin: 0 10px 5px 0;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            color: #82C3D6;
        }
      }

      p {
        font-size:13px;
      }


    }
  }

}

}


.load-more-btn-wrapper {


  text-align:right;
  .btn {

    // width:100%;
  }
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
.talent-pool {

.menu-wrapper {
  width:28%;
}

.right-content {
  width:68%;
}
}

}

@media screen and (max-width: 880px) {
.talent-pool {

  .right-content .content .toolbar .search {
    display: inline-block;
    float: right;
    max-width: 200px;
    .search-button-label {
    display:none;
  }
  }

}

}

// Main responsive breakpoint
@media screen and (max-width: 765px) {
.talent-pool {
    .menu-wrapper {
    width:100%;
    padding-top: 0;
        padding-bottom: 0;
  }

  .right-content {
    width:100%;
    margin-left:0;
        padding-top: 0;
    .content .cards-wrapper .list-group-item h4,
    .content .cards-wrapper .list-group-item h5 {
    padding-right: 130px;
    }
  }
}
}


@media screen and (max-width: 520px) {

.talent-pool {


  .load-talent-profile {


    .modal-body {
        position: relative;
        padding: 2px;
    }

    .manage-job .columns-wrapper .candidate-details-wrapper .full-profile-panel .timeline-wrapper .item .timeline {
    width: 20px;
    }

    .manage-job .columns-wrapper .candidate-details-wrapper .full-profile-panel .timeline-wrapper .item {
    padding-left: 25px;
    }
  }

  .edit_candidate_tags {

    .updated {
    padding: 161px 15px;
    }

    .btn-default {
    display:none;
    }
  }

  .right-content {

    .content .cards-wrapper .list-group-item h4,
    .content .cards-wrapper .list-group-item h5 {
    padding-right: 10px;
    }

      .content {
            .toolbar {
        display: inline-block;

        .sort {
      width: 100%;
      margin-bottom: 10px;
      text-align: right;
      }

      .search {
      display: inline-block;
      float: right;
      max-width: 247px;
      }
    }

      .cards-wrapper {

        .list-group {

          .list-group-item {
            padding-top:42px;
            .tag {
                  display: inline-block;
              }
            .buttons {
                position: absolute;
                right: -4px;
                left: -2px;
                top: -2px;

                .btn-group {
                  width:100%;
                  button {
                    width:50%;
                  }
                }
            }
          }
        }
      }


    }

  }
}


}
