$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-header:#ECF0F1;
$color__background-content-up:#226BAA;
$color__background-content-down:#FAFAFA;
$color__background-footer:#EBF0F3;

$color__grid-grey:#bdc3c7;
$color__grid-grey-light:#e3e3e3;
$color__frid-grey-table:#F3F3F3;

$color__flat_midnight_blue:#2c3e50;

$color__flat_heading_bg: #ecf0f1;
$color__flat_heading_font: #95a5a6;


$color__plan-smart:#3497DB;
$color__plan-genius:#1ABC9C;
$color__plan-genius-plus:#6B7CA5;


$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #1ABC9C !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
