      .chat-panel {
            float: left;
            width: 100%;
            margin-bottom: 15px;
            background: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            border: 1px solid #F5F5F5;
            border-radius: 2px;
            padding:0;

          .conversation {
            display:block;
            max-height: 300px;
            overflow-y: scroll;
            border: 2px solid #E8E8E8;
            border-right: 0;
            margin: 15px 15px 0 15px;
            .no-messages {
                display: inline-block;
                width: 100%;
                font-weight: 500;
                text-align: center;
                padding: 20px 15px;
            }
          }

          .editor {
            display: inline-block;
            float: left;
            width: 100%;
            padding: 15px;
            text-align: right;
            background: #FFFFFF;

              textarea {
                resize:vertical;
                margin-bottom:8px;
                width: 100%;
                border: 2px solid #E8E8E8;
              }
              .chars-counter {
                display:inline-block;
                margin-right:10px;
                font-size:13px;
                color:$color__flat_heading_font;
                font-weight:600;
              }
          }



          .load-more {

            text-align:center;

            & > span {
              display:inline-block;
              border:1px solid $color__grid-grey-light;
              padding:5px 20px;
              border-radius:20px;
              margin-top:15px;
              cursor:pointer;
            }
          }

          .timeline-wrapper {

            padding: 15px;
            padding-left: 0;
            padding-top:5px;

            .item {
              display: inline-block;
              width:100%;
              padding-left:60px;
              position:relative;
              margin:0;

              .timeline {
                width:60px;
                position:absolute;
                left:0;
                top:0;
                height:100%;
                text-align:center;

                .circle {
                  position: absolute;
                  top: 50%;
                  margin-top: -9px;
                  left: 50%;
                  margin-left: -9px;
                  width: 16px;
                  height: 16px;
                  background: #fff;
                  border-radius: 50%;
                  border: 2px solid #5BC0DE;
                  z-index: 99;
                }

                .line {
                  position:absolute;
                  width:2px;
                  background:#E1F8FF;
                  left:50%;
                  margin-left:-2px;
                  top:0;
                  bottom:0;

                }

              }

              .item-content {
                .panel {
                  margin: 4px 0 ;
                  border: none;
                  background: #E1F8FF;
                }

               .panel-body {
                padding: 6px 10px;
                font-size: 13px;
                border:none;
                border-radius:5px;

              }
              }
            }

            .in {


              .panel-body {
                padding: 6px 10px;
                font-size: 13px;
                background: rgb(91, 192, 222);
                color: #fff;
                border:none;
                border-radius:5px;

              }

            }



            & > .item:first-child .timeline .line {
              top:50%;
            }

            & > .item:last-child .timeline .line {
              bottom:50%;
            }

          }

      }
