.pricing-table-small {
  display:inline-block;
  float:left;

  padding: 20px 0;
  margin-left:-15px;
  margin-right:-15px;
  .plan {
    display:inline-block;
    float:left;
    width:33.333333%;
    padding:15px;

    &:first-child {
      margin-left:0;
    }

    &:last-child {
      margin-right:0;
    }

    .title {
      font-size:29px;
      font-weight:500;
      display:inline-block;
      width:100%;
      float:left;
      border-bottom:1px solid $color__grid-grey-light;
      padding-bottom:10px;
    }
    .description {
      display:inline-block;
      float:left;
      width:100%;
      padding: 15px 10px 15px 0;
      color:rgb(125, 125, 125);
      min-height:150px;
    }

    .link-to-the-features {
      display:inline-block;
      float:left;
      width:100%;
      border-bottom:1px solid $color__grid-grey-light;
      padding-bottom:15px;



      .link {
        text-transform:uppercase;
        font-size:16px;
        text-decoration:none;
        color:#337AB7;
      }
      i {
        margin-left:15px;
        transition:all 0.3s;
      }

      &:hover > i {
        margin-left:20px;
        transition:all 0.3s;
      }
    }
    .price {
      display:inline-block;
      float:left;
      width:100%;
      padding:10px 10px 10px 0;
      border-bottom:1px solid $color__grid-grey-light;
      color:rgb(125, 125, 125);
    }

    .button-wrapper {
      display:inline-block;
      float:left;
      width:100%;
      margin-top:15px;

      .btn {
        width:100%;
        padding-top:9px;
        padding-bottom:9px;

      }

    }

    &.smart {

      .title {
        color:$color__plan-smart;
      }

      .link-to-the-features .link {
        color:$color__plan-smart;
      }

      .btn-primary {
        background-color:$color__plan-smart;
        border:$color__plan-smart;

        &:hover {
          background-color: #1D76B3;
          border: #08609C;
        }
      }
    }

    &.genius {

      .title {
        color:$color__plan-genius;
      }
      .link-to-the-features .link {
        color:$color__plan-genius;
      }
      .btn-primary {
        background-color:$color__plan-genius;
        border:$color__plan-genius;

        &:hover {
         background-color: #148f77;
          border-color: #0f705d;
        }
      }
    }
    &.genius-plus {

      .title {
        color:$color__plan-genius-plus;
      }
      .link-to-the-features .link {
        color:$color__plan-genius-plus;
      }
      .btn-primary {
        background-color:$color__plan-genius-plus;
        border:$color__plan-genius-plus;
        &:hover {
          background-color: #4A5F92;
          border: #2F4373;
        }
      }
    }

  }
}



/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

// Main responsive breakpoint

@media screen and (max-width: 880px) {
  .pricing-table-small .plan .link-to-the-features .link {
      font-size: 14px;
  }
}


@media screen and (max-width: 800px) {
  .pricing-table-small .plan .link-to-the-features i {
      display:none;
  }
}

@media screen and (max-width: 765px) {

  .pricing-table-small {
    padding-top:0;
    padding-bottom:0;
    margin-top:-32px;
    .plan  {
      width:100%;
      border-top: 2px solid #F5F5F5;
      border-bottom: 2px solid #F5F5F5;
      margin-bottom: 0;

      &.smart {
        background-color:#F3F9FD;
      }
      &.genius {
        background-color:#F3FFFD;
      }
      &.genius-plus {
        background-color:#EAEFFB;
      }

      .description {
        min-height:auto;
      }
  }
}


}
