.user-query-wrapper {

  display:block;
  float: left;
  padding:30px 0;
  width:100%;

  .user-query-title {
      display: block;
      float: left;
      width: 100%;
      font-size: 23px;
      padding-bottom: 20px;
      font-weight:500;
  }
  nav {
      display: block;
      width: 100%;
      float: left;
  }

  .user-card-inner {
      Display: block;
      width: 100%;
      min-height: 100px;
      background: #fff;
      border: 1px solid #ECECEC;
      border-radius: 3px;
      margin-bottom: 33px;

      .name {
          width: 100%;
          font-size: 15px;
          font-weight: 500;
          text-align: center;
          padding: 5px;
      }

      .id {
          width: 100%;
          font-size: 13px;
          font-weight: 400;
          text-align: center;
          padding: 3px;
      }

      .caption-line {
          display: inline-block;
          width: 100%;
          text-align: Center;
          border-top: 1px solid #E3E3E3;
          text-transform: uppercase;
          padding: 3px 3px 0 3px;
      }

      .value-line {
          display: inline-block;
          width: 100%;
          text-align: Center;
          padding: 0 3px 3px 3px;
          .col-xs-6 {
            text-align:left;
          }
      }


      .button-wrapper {
          width: 100%;
          text-align: center;
          padding: 3px;
      }
  }
}
