
  .new-shared-account {
    text-align: center;
    padding: 30px 15px;
    font-weight: 500;
  }

  .account-switch-btn {
    text-align: center;
    padding-bottom: 25px;
  }
.site-footer {
  display:inline-block;
  float:left;
  width:100%;
  background:#ECF0F1;



  .button-wrapper {
    padding:15px;
    text-align:center;
    background:#E0E0E0;
  }
  .nav-wrapper {

    padding:14px;

    .widget {
      display:inline-block;
      float:left;
      width:200px;
      padding:0 15px 15px 15px;
      margin: 0 10px 10px 10px;
      font-size: 16px;
      color:#888;
      .widget-title {
        margin:0;
        font-size: 17px;
        color:#666;
        margin-bottom:10px;
        text-transform:uppercase;
      }

      .widget-nav {
        margin:0;
        padding:0;
        list-style:none;
        & > li {
          display:block;
          & > a {
            color:#888;

          }
        }
      }
    }

    .fade-logo {
      opacity:0.7;
      display:inline-block;
      float:left;
      width:80px;
      & > img {
        width:60px;
      }
    }
  }

  .copyright-wrapper {
    display:inline-block;
    float:left;
    width:100%;
    text-align:center;
    padding:10px;
    font-size:13px;
    color:#ccc;
  }


}


.site-footer.logged-in {
  display:inline-block;
  float:left;
  width:100%;
  background:#ECF0F1;

  .nav-wrapper {
    padding:14px;

    .widget {
      display:inline-block;
      float:left;
      width:100%;
      padding:0;
      margin: 0;
      font-size: 14px;
      color:#888;
      text-align:center;

      .widget-title {
        display:none;
      }

      .widget-nav {
        margin:0;
        padding:0;
        list-style:none;
        display:inline-block;
        float: left;
        width:100%;
        text-align: center;
        & > li,
        & > p {
          display:inline-block;
          float:none;
          margin:0;

          & > a {
            color:#888;

          }

          &  i {
            display: inline-block;
            float:left;
            margin-left:10px;
            margin-right:10px;
            color:#555;
            font-size:4px;
            height: 6px;
          }
        }
      }
    }
  }
}




/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/



@media screen and (max-width: 880px) {

  .site-footer .nav-wrapper .fade-logo {
      display: none;
  }

}



// Main responsive breakpoint
@media screen and (max-width: 765px) {

.site-footer .nav-wrapper .widget {
    float: left;
    width: 100%;
    text-align: center;
        margin: 15px 0;
}

.site-footer.logged-in .nav-wrapper .widget .widget-nav {
  li {
    width:100%;
        padding: 8px;
    font-size: 16px;
  }
  p {
    display:none;
  }
}

}













