#masthead {
  display:inline-block;
  float:left;
  width:100%;
  background:$color__background-header;
  padding: 15px 0 15px 0;
  border-bottom: 2px solid #E3E3E3;

  .site-branding {
    float:left;

    a.logo {
      outline:none;

      & > img {
        height:60px;
        width:auto;

      }
    }
  }

  .main-navigation {
    float:right;
    ul.main-nav {
      margin:0;
      padding:0;
      display:inline-block;
      list-style:none;
      line-height: 55px;

      & > li {
        float:left;
        margin-right:6px;

        & > a {
          color:#666;
          font-weight:800;
          text-transform:uppercase;
          text-decoration:none;
          padding:4px 3px 4px 3px;
          margin:0 9px 0 9px;
          border-bottom:2px solid transparent;
          font-size:15px;
          transition:all 0.3s;

          &.bordered {
            border:2px solid #666;
            border-radius:3px;
            padding:4px 12px 4px 12px;
            margin:0;
            transition:all 0.3s;
          }
          &:hover {
            border-bottom: 2px solid #DB2E26;
            color: #333;
            transition:all 0.3s;
          }
          &.bordered:hover {
            border:2px solid #333;
            color: #333;
            transition:all 0.3s;
          }
        }
      }
    }
  }

  .mobile-navigation {
    display:none;
  }
}



#masthead.logged-in {
  padding: 0;
  .site-branding {
    float:left;

    a.logo {
      outline:none;

      & > img {
        height:50px;
        padding: 5px 0 5px 0;
        width:auto;
      }
    }
  }

  .main-navigation {
    float:right;

        .nav-item {
          display: inline-block;
          float: left;
          min-width: 50px;
          line-height: 50px;
          font-size: 16px;
          border-right: 2px solid $color__grid-grey-light;
          text-align: right;
          padding-right: 10px;
          padding-left: 17px;
          color:$color__flat_midnight_blue;
          text-decoration:none;

          &:hover {
            background-color:#ecf0f1;
          }

          & > i {
            font-size: 19px;
          }
      }

      .account-dropdown-wrap{

        .item-label {
          margin-right:0;
        }
      }

      & > .nav-item:first-child {
        border-left: 2px solid $color__grid-grey-light;
      }

      .badge.header-badge {
          margin-top: -16px;
          margin-left: -8px;
          background-color:#e74c3c;
      }

      .nav-dropdown {
        font-weight:600;
        font-size:14px
      }

      .nav-dropdown > i {

        margin-left:15px;
        margin-right:12px;
        font-size:18px;
      }

      .dropdown-menu {
        right:0;
        top:50px;
        left:auto;
        & > li i {
          margin-right:10px;
          color:#6B6B6B;
        }
      }

      .dropdown-account {
        right:124px;
        top:50px;
        left:auto;
        & > li i {
          margin-right:10px;
          color:#6B6B6B;
        }
        & > li.active i {
          margin-right:10px;
          color:#fff;
        }
        & > li.active a {
          font-weight:500;
          color:#fff;
        }
      }

      .item-label {
        display: inline-block;
        float: left;
        margin-right: 15px;
        font-weight:600;
        font-size:14px;
        margin-top:-1px;
      }
      }

}



/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

// Main responsive breakpoint
@media screen and (max-width: 765px) {

  #masthead .main-navigation.desktop-navigation {
      display: none;
  }

    #masthead .main-navigation.mobile-navigation {
      display: block;
    float: right;
    height: 60px;
    padding: 15px;
    font-size: 21px;
    a {
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration:none;
    i {
      margin-left:10px;
      }
    }

    ul.dropdown-menu {
        position: absolute;
        top: 75px;
        border: 2px solid #ccc;
        border-radius: 0;
        width: 100%;
        text-align: center;
        font-size: 16px;
        li {
          border-bottom: 1px solid #F1F1F1;
           a {
             color: #343434;
            text-transform: uppercase;
            font-weight: 500;
            padding-top: 10px;
            padding-bottom: 10px;

           }
        }

        li:last-child {
          border-bottom:none;
        }
    }
  }

}



@media screen and (max-width: 600px) {
  #masthead.logged-in  {
    .middle-large-section {
      padding:0!important;
    }
    .site-branding {
        width: 100%;
        text-align: center;
        line-height: 60px;
        border-bottom: 2px solid #E3E3E3;
    }

    .main-navigation {
    float: none;
    width: 100%;

      & > a.nav-item.messages {
        border:none;
      }
      & > .dropdown-wrap > a {
        border:none;
      }

      .account-dropdown-wrap ul {
        right:0;
        left:0;
          top: 112px;
          width: 100%;
          border-radius: 0;
          margin: 0;
      }

      & > .menu-dropdown {
        float:right;

        ul {
                  right:0;
        left:0;
          top: 112px;
          width: 100%;
          border-radius: 0;
          margin: 0;
        }
      }

    }

  }


}


@media screen and (max-width: 480px) {
  #masthead.logged-in  {

    .main-navigation {
    &>a.nav-item.messages {
      padding-right: 4px;
      padding-left: 15px;
      min-width: 45px;
      .item-label {
        display:none;
      }
    }
    &>.dropdown-wrap > a {
      border:none;
    }

    &> .menu-dropdown {
      & > a {
        padding-right: 10px;
        padding-left: 5px;
      }
      .item-label {
        display:none;
      }
    }

    & > .account-dropdown-wrap > a {
      padding-right:4px;
      padding-left:10px;
      i {
        margin-left: 7px;
        margin-right: 6px;
      }
    }

    }

  }


}

