.out-of-live-jobs-modal {
  .modal-text-padding {
    padding: 15px 15px 25px 15px;
    text-align: center;
  }

  .btn-wrapper {
      text-align: center;
      padding: 15px;
  }
}






.pricing-large-modal .modal-body {
  padding:0;
}
.pricing-large-modal .modal-header {
  border-bottom:none;
}
.pricing-large-modal .modal-header {
  border-bottom:none;
}
.pricing-large-modal .full-pricing-table-wrapper .full-table {
  margin-bottom:0;
}
.premium-feature-box {
  display: inline-block;
  width: 100%;
    background: #F9EED9;
    padding: 10px;
    border: 1px solid #D6CEAD;
    font-weight: 500;
}

.btn-group-sm .btn.btn-default.active {
    background: #1ABC9C;
    color: #fff;
    font-weight: 500;
    border-color: #DADADA!important;
    border-left-color: #FFEAEA!important;
    border-right-color: #FFEAEA!important;
}

.bool-toggle .btn.btn-default {
    min-width:60px;
}


span.item-preloader {
    display: none;
    float: right;
    margin: 0 15px;
    font-size: 12px;
    color: #CCC;
}

span.item-preloader > img {
    width:33px;
    margin-right:10px;
}

span.item-error-msg,
span.item-success-msg{
    display: none;
    float: right;
    margin: 0 15px;
    font-size: 13px;
    padding: 7px;
}

span.item-error-msg > i,
span.item-success-msg > i
 {
    font-size: 15px;
    margin-right: 3px;
}

span.item-error-msg{
    color: #c0392b;
}

span.item-success-msg{
    color: #27ae60;
}

.ui-sortable-helper {
  border:1px solid #ccc!important;
  border-radius:3px;
}


pre {
    font-family: inherit;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: inherit;
    word-break: break-all;
    word-wrap: break-word;
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-title {
    margin: 0;
    line-height: 1.42857;
    font-size: 15px;
    font-weight: 500;
}

.modal-content .note-editor.panel.panel-default {
    margin-bottom: 0;
}

.modal-content  .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 100px;
    z-index: 1000;
    background: #fff;
}

.modal-content  .loader img {
    width:45px;
    height:auto;
}


.modal-content .note-view.btn-group {
    display: none;
}

.modal-content .updated {
  display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    z-index: 999;
    font-size: 16px;
    font-weight: 500;
    padding: 150px 15px;
}


div#mCSB_1_dragger_vertical {
    z-index: 999;
}

textarea:focus,
input:focus,
textarea:active,
input:active  {
    outline: none!important;
    border-color:#3498db!important;
    box-shadow:none;
}

.form-control
 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 2px solid rgba(204, 204, 204, 0.55);
    border-radius: 3px;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.note-editor,
.dropdown-toggle,
.btn-group > .btn
 {
  border: 2px solid rgba(204, 204, 204, 0.55)!important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #3498db;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -2px;
}

.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:hover, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active {
    z-index: 2;
    box-shadow: none;
}


  .badge-red {
    background:#E74C3C!important;
    color:#fff!important;
  }
  .badge-blue {
    background:#5BC0DE!important;
    color:#fff!important;
  }

  .list-group-item {
    margin-bottom: -2px;
    border: 2px solid #ddd;
}

.info-area {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 15px;
    border: 2px solid #AFE3ED;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
}

.search .btn {
  height: 33px;
}


.main-menu .dropdown-menu {
    padding: 0;
    margin: 0px 15px 0;
    font-size: 14px;
    border: 2px solid #e3e3e3;
    border-radius: 3px;

    li a {
      padding: 7px 15px;
    }

    li.divider {
      margin:0;
    }
}


.panel-info {
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid #AFE3ED;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #666;
}

.panel-info > .panel-heading {
    color: #888;
    background-color: transparent;
    border-bottom: 2px solid #AFE3ED;
}

/*--------------------------------------------------------------
# Styling summernote wysiwyg
--------------------------------------------------------------*/

.wysiwyg > .control-label {
margin-bottom:5px;
}

.summernote .btn-group {
  display: inline-block;
  float: left;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: rgba(245, 245, 245, 0.43);
    border-color: #ECF0F1;
}

.note-editor {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
}

.note-editor .note-editing-area .note-editable {
    padding: 10px;
    overflow: auto;
    color: #2C3E50;
    background-color: #fff;
}
.note-editable.panel-body p {
    margin-bottom: 1px;
}

button.btn.btn-default.multiselect-clear-filter {
    padding-top: 7px;
}

.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
    margin: 0;
    padding: 10px 40px;
    line-height: 22px;
}

.multiselect-wrapper .btn-group {
  width:100%;

  .btn {
    width:100%;
    text-align:left;
    .caret {
      float:right;
      margin-top:8px;
    }
  }

  .multiselect-selected-text {
    float: left;
  }


}

  label.checkbox:focus,
  label.checkbox:active,
  label.checkbox:hover,
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    outline: none!important;
}

.text-align-left {
  text-align:left!important;
}

span.ng-placeholder {
    color: #929292;
}



.error-message {
    border: 1px solid #e74c3c;
    padding: 3px 10px;
    margin: 5px 0;
    border-radius: 3px;
    color: #e74c3c;
    background-color: #FFF2F1;
}
input.error {
    border-color: #e74c3c;
}

.test-node > .error-message {
    display:none;
    max-width: 711px;
}

.job-management .menu-wrapper .sub-item.active,
.job-management .menu-wrapper .sub-item.active:focus,
.job-management .menu-wrapper .sub-item.active:active,
.job-management .menu-wrapper .sub-item.active:hover {
    background: #F5F5F5;
    z-index: 2;
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}

span.nothing-found {
    display: inline-block;
    width: 100%;
    padding: 35px 15px;
    border: 1px solid #ececec;
    margin: 35px 0;
    background: #ECF0F1;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

span.counter {
    font-weight: 500;
    margin-right: 10px;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


.og-msg {
    float: right;
    margin-top: 4px;
    padding: 0px 19px;
    font-size: 13px;
    text-align: right;

    &.og-success {
      color:#27ae60;
    }
    &.og-error {
      color:#e74c3c;
    }

}

.ng-hide-add,
.ng-hide-remove {
  display: none !important;
}

.og-hidden {
  display:none;
}


@media screen and (max-height: 450px) {
  .middle-section {
      padding: 0 10px;
  }
}


.btn {
  outline:none!important;
}

/*--------------------------------------------------------------
# Sort direction
--------------------------------------------------------------*/

.sorter > span:before {
  content:'\f0dc';
  display:inline-block;
  margin-right:4px;
  font-family:'fontawesome';
}

.sorter.desc > span:before {
  content:'\f0d7';
}

.sorter.asc > span:before {
  content:'\f0d8';
}



/*--------------------------------------------------------------
# preloader
--------------------------------------------------------------*/
[ng-cloak].splash {
  display: block !important;
}
.splash {display: none;}
/* some naive styles for a splash page */
.splash {
  text-align:center;
  padding:50px 0;
  color: #ECF0F1;

  .preloader {
    padding-bottom: 28px;
  }
}





.cssload-thecube {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(43,160,199);
  animation: cssload-fold-thecube 2.76s infinite linear both;
    -o-animation: cssload-fold-thecube 2.76s infinite linear both;
    -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
    -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
    -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -o-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -o-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -ms-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
        75% {
    -moz-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
        100% {
    -moz-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
