html {
  background-color:#ECF0F1;
}

.logged-in #content {
    min-height:80vh!important;
    float: left;
    width: 100%;
}
.content-wrapper {
  background-color:$color__background-content-down;

}

body {
  font-size:19px;
  background:$color__background-content-down;
  color: #4A4A4A;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

}

body.logged-in {
  font-size:14px;
    -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;

}


.middle-large-section {
  display:block!important;
  float:none!important;
  position:relative!important;
  width:100%!important;
  max-width:1000px!important;
  margin:auto!important;
  padding: 0 15px 0 15px!important;
}

.col-25 {
  display: inline-block;
  float: left;
  width: 25%;
  box-sizing:border-box;
}

.col-75 {
  float: left;
  width: 75%;
  box-sizing:border-box;
}

.col-50 {
  float: left;
  width: 50%;
  box-sizing:border-box;
}

.col-33 {
  float: left;
  width: 33.333333%;
  box-sizing:border-box;
}

.col-66 {
  float: left;
  width: 100% - 33.333333%;
  box-sizing:border-box;
}

.col-1-6 {

  float: left;
  width: 16.6666666%;
  box-sizing:border-box;
}

.section-white {
  background:#fff;
}

.content-wrapper {
  display:inline-block;
  float:left;
  width:100%;
}


.vc_row {
    margin-left: 0!important;
    margin-right: 0!important;

    font-size:19px;
}

.error-404 {
  display:inline-block;
  float: left;
  width: 100%;
  margin-top: 90px;
  min-height:300px;
  h1, h2 {
    text-align:center;
    margin-bottom:60px;
    color:lightgrey;
  }
}



/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/



@media screen and (max-width: 880px) {
    #content {
    min-height:auto!important;
    }


}
